.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image{
  width: 4pc;
}


.product-container{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 4px;
}

.product-image{
  width: auto;
}

.product-description{
  width: auto;
}

.product-category{
  width: auto;

}

.product-brand{
  width: auto;
}

.product-title{
  width: auto;
}

.product-price{
  width: auto;
}

.product-discount{
  width: auto;
}

.view-more-button{
   width: auto;
   padding: 5px 10px;
   cursor: pointer;
   border: none;
}